@import "fonts"
@import "libs"
@import "vars"
@import "owl-carousel"


body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	
	

#first
	height: 500px
	background-color: cornflowerblue
	
#second
	margin-top: 200px
	height: 500px
	background-color: aquamarine
	
/*Carousel items*/
.item
	height: 200px
	background-color: bisque
	margin: 0 30px
	
/*Hash buttons*/
.url_hash
	margin-top: 100px
	list-style-type: none
	li
		display: inline-block
		margin: 5px
	a
		text-decoration: none
		color: black
		background-color: beige
		border: solid black 1px
		padding: 5px

		



	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
@import "media" // Always in the end